.container {
    display: grid;
    grid-template-areas: 
        "pause . ."
        "arrows . rotate"
    ;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 5fr 1fr 2fr;
    height: 100%;
}

.pause { grid-area: 'pause'; }

.arrows { grid-area: 'arrows'; }

.rotate { grid-area: 'rotate'; }
