.container {
    display: grid;
    grid-template-areas: 
        "pause . ."
        "arrows . rotate"
    ;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 5fr 1fr 2fr;
    height: 100%;
}

.controls { 
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.controls>*{
    margin: 0.3rem;
}

.arrows { 
    margin-top: 20px;
    grid-area: arrows; 
}

.rotate { grid-area: rotate; }
