.container{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.menu{
    position: absolute;
    padding-top: 0.5rem;
    height: 0;
    overflow: hidden;
    transition-duration: 0.3s;
}

.menu-open {
    position: relative;
    height: auto;
    transition-duration: 0.3s;
}

.headline {
    display: flex;
}

.headline:hover {
    color: yellow;
    cursor: pointer;
    transition-duration: 0.3s;
}

.menu-item{
    font-weight: 100;
    width: 80%;
    float: right;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.menu-item:hover{
    cursor: pointer;
    background-color: #444;
}
.selected::before{
    content: 'X';
    position: absolute;
    left: 1.3rem;
    color: lightgreen;
    overflow:visible;
}

.value{
    padding-left: 1.2rem;
    font-style: italic;
    font-weight: 100;
    color: green
}
.value:before{
    content: '(';
}
.value::after{
    content: ')';
}

.disabled {
    color: #444;
}
.disabled:hover {
    color: #444;
    cursor: not-allowed;
}
.arrow{
    transition-duration: 0.3s;
    transform: rotateZ(-90deg);
}
.arrow-rotated{
    transition-duration: 0.3s;
    transform: rotateZ(0deg);
}
