.container:hover > .menu {
    visibility: visible;
}
.menu{
    position: relative;
    left: 1rem;
    background-color: #333;
    visibility: hidden;
    z-index: 5;
}
.menuItem{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
}
.menuItem:hover{
    background-color: rgb(255, 255, 255);
    color: #333;
    cursor: pointer;
}
.value {
    color:#080;
    font-weight: 100;
    padding-left: 5px;
}
.headline {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.headline-disabled {
    font-family: Arial, Helvetica, sans-serif;
    color: #aaa;
    height: 1.5rem;
    display: flex;
    align-items: center;
    cursor: not-allowed;
}

.container:hover > .headline {
    color: yellow;
    cursor: pointer;
    transition: 0.3s;
    transition-timing-function: jump-start;
    transform: scale(1.2);
}

.selected {
    background-color: #aa6;
}
.selected:after{
    content: 'x';
    color: green;
    position: absolute;
    right: 1rem;
}

.icon {
    transform: rotateZ(-90deg);
    transition-duration: 0.3s;
}

.disabled {
    color: #aaa;
    cursor: not-allowed;
    font-family: Arial, Helvetica, sans-serif;
    height: 1.5rem;
    transition: 0.3s;
    display: flex;
    align-items: center;
}
.disabled-container {
    color: #aaa;
    cursor: not-allowed;
    font-family: Arial, Helvetica, sans-serif;
    height: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.disabled-hide {
    display: none;
}

.container:hover > .headline > .icon {
    transform: rotateZ(0deg);
    transition-duration: 0.3s;    
}