.border {
    --colorGameOn: #32391b;
    --colorGameOff: #92997b;
    --colorSticker: white;
    --colorNoBrick: transparent;
    --gameSize: 17px;
    --stickerSize: 25px;
    --borderGameOn: solid var(--colorGameOn)   3.6px;
    --borderGameOff: solid var(--colorGameOff) 3.6px;
    --borderSticker: solid var(--colorSticker) thick;
    --borderNoBrick: solid var(--colorNoBrick) thick;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.borderGameOn { 
    position: relative;
    border: var(--borderGameOn); 
    width: var(--gameSize);
    height: var(--gameSize);
    box-sizing: border-box;
    border-radius: 3px;
}
.borderGameOff { 
    position: relative;
    border: var(--borderGameOff); 
    width: var(--gameSize);
    height: var(--gameSize);
    box-sizing: border-box;
    border-radius: 3px;
}
.borderSticker { 
    box-sizing: border-box;
    width: var(--stickerSize);
    height: var(--stickerSize);    
    border: var(--borderSticker); 
    padding: 3px;
    margin: 1px;
    border-radius: 3px;
}
.borderNoBrick { 
    border: var(--borderNoBrick); 
    width: var(--stickerSize);
    height: var(--stickerSize);
    margin: 1px;
}

.insideGameOn {
    box-sizing: border-box;
    border: var(--borderGameOn);
    background-color: var(--colorGameOn);
    border-radius: 50%;
}
.insideGameOff {
    box-sizing: border-box;
    border: var(--borderGameOff);
    background-color: var(--colorGameOff);
    border-radius: 50%;
}
.insideSticker {
    border: var(--borderSticker);
    background-color: var(--colorSticker);
    border-radius: 50%;
}
.insideNoBrick {
    border: var(--borderNoBrick);
    background-color: var(--colorNoBrick);
}

