.container {
    --small: 24px;
    --medium: 38px;
    --big: 60px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.edge:hover {
    cursor: pointer;
}

.label {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.5rem;
    margin-top: -0.5rem;
}

.edge{
    border-radius: 50%;
    background-color: yellow;
    display: block;
    /* border: yellow solid thin; */
}
.edge:hover{
    background-color: #dd0;
    background-image: radial-gradient(circle, rgba(255, 200, 54, 1) 50%, rgba(14, 14, 14, 1) 88%);
    
}
.edge:active{
    background-color: orange;
    background-image: radial-gradient(circle, var(--key-pressed-color) 50%, rgba(14, 14, 14, 1) 88%);
}

.small{
    width: var(--small);
    height: var(--small);
}

.medium {
    width: var(--medium);
    height: var(--medium);
}

.big {
    width: var(--big);
    height: var(--big);
}

.Graphite-key {
    box-shadow: inset -1px 30px 10px -20px rgba(255, 230, 230, 1),
    0px 0px 4px 6px rgba(66, 68, 90, 1);
    background-image: radial-gradient(circle, rgba(255, 237, 94, 1) 50%, rgba(14, 14, 14, 1) 88%);
}

.Polishflag-key {
    box-shadow: inset -1px 30px 10px -20px rgba(255, 230, 230, 1),
    0px 0px 4px 6px rgba(180, 0, 0, 1);
    background-image: radial-gradient(circle, rgba(255, 237, 237, 1) 50%, rgba(14, 14, 14, 1) 88%);
}

.Darkscheme-key {
    box-shadow: inset -1px 30px 10px -20px rgba(255, 230, 230, 1),
    0px 0px 4px 6px rgba(40, 40, 40, 1);
    background-image: radial-gradient(circle, rgba(255, 237, 94, 1) 50%, rgba(14, 14, 14, 1) 88%);
}

.disabled {
    background-color: red;
    background-image: radial-gradient(circle, rgba(255, 20, 54, 1) 50%, rgba(14, 14, 14, 1) 88%);
}
.disabled:hover{
    cursor: not-allowed;
    background-color: red;
    background-image: radial-gradient(circle, rgba(255, 20, 54, 1) 50%, rgba(14, 14, 14, 1) 88%);
}


