@import-normalize;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --displayBackgroundColor: #98a37f;
  --consoleHousingHeight: 900px;
  --consoleHousingWidth : 500px;
  /* ===== CALCULATING DISPLAY SIZE ===== */
  /* display size is:
width: (500px * 7) / 11 = 318.18px
height: (900px * 5) / 13 = 346.15px */

/* screan division:
screanWidth = displayHeight / 2 = 173px;
screanHeight = displayHeight = 346px; */

/* display size should be fixed  */
/* If housing size is changed, display dimention should be preserved */
  --displayWidth: 318.18px;
  --displayHeight: 346.15px;
  --dojoWidth: 170px;
  --dojoHeight: 340px;
  --scoreBarWidth: calc( var(--displayWidth) - var(--dojoWidth));


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
